<p>
	This page was created just to show my Boyfriend I can program too.
</p>


 <p>
 	Everything started because he is a Senior Ruby developer, and I an Account Manager for a DSP.
 </p>


<p>
	I have been in the world of programming for a while already but I had never dedicate my time strictly to programming, but today I am.
</p>


<p>
	I started with ruby girls Berlin, code academy, then I did codeschool, later I found Stuk.io which somehow managed to catch me.
</p>


<p>
	But first I was not all into RoR, I actually started with JS, because I kind of like it more, but then somehow I got into RoR, and my boyfriend said; You are doing the same as you did with the Gym, with Yoga, german classes, with swimming, with painting, I always get the skills, or knowledge but I never get to master them. 
</p>


<p>
	So I decided to prove him wrong, plus I think is going to be interesting once I get to discuss why he is doing that algorithm like this when he could actually do it like that...
</p>


<p>
 	Is going to be fun!
</p>