<h1>About Us</h1>
<p> My vision was to create a simple, faster and flexible Task Manager.</p>
<p> I knew there are many fancy task managers out there, but I had to start from something as is one of the simplest ways to learn RoR and since I'm learning... Just give us a try! :)</p>