<div class="jumbotron">

<h1> UpTask </h1>		
<p> Uptask is one of the most coolest, smartest and easiest task managers out there</p>
<p> You may wonder, - How can that be? </p>
<p> Why should a Task Manager software bring any difference into your life?</p>
<p> Why don't you discover it by yourself!</p>
<%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
</div>